header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #11172a;
}

.logo {
    max-width: 5rem;
    list-style-type: none;
}
li{
    list-style-type: none;
}


.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;

}

.nav-list li a {
    text-decoration: none;
    color: aliceblue;
    list-style-type: none;
}

.abrir-menu,
.cerrar-menu {
    display: none;

}


@media screen and (max-width: 550px) {

    .abrir-menu,
    .cerrar-menu {
        z-index: 1;
        display: block;
        border: 0;
        font-size: 1.3rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        z-index: 1;
        color: #7f6fbb;

    }
    .nav {
        z-index: 3;
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #7f6fbb;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }
    .body-productos{
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        top: 0;
        right: 0;
        bottom: 0;
        align-items: end;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;

    }

    .nav-list {
        flex-direction: column;
        align-items: end;

    }

    .nav-list li a {
        color: #11172a;
    }
    
    .card-producto{
        width: 200px;
        height: 200px;
    }

    

}