.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .7rem;
    
}

.formulario input {
    padding: .5rem;
    width: 25rem;
    height: 3rem;
    border-radius: .6rem;
    border: 2px solid black;
}

.main-title {
    color: aliceblue;
    padding-bottom: 50px;
}

.formulario input:focus {
    outline: 0;
    border: 2px solid black;
    outline: 2px solid #6351ac;

}
.enviar {
    background-color:#6351ac;
    border: 0;
    width: 2rem;
    height: 2rem;
    color: white;
    border-radius: .5rem ;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1;
    border: 1px solid black;
    transition: .2s;
    margin-bottom: 5rem;
}

.enviar:hover{
    background-color: white;
    color: black;
}
.enviar{
    width: auto;
    height: auto;
    margin-top: 1rem;
    padding: .7rem;
}
.consulta{
    height: 5rem;
}